@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

a {
    color: white;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.head1 {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(head1.jpg);
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;
}

.head2 {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
    padding-bottom: 0px;
    background-image: url(sec2.png);
    display: table;
    background-size: cover;
    background-position: bottom center;
}

.head2 .content {
    padding-top: 50px;
    padding-bottom: 25px;
}

.head1 .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    font-weight: 800;
    color: white;
    margin: 5;
    line-height: 0%;
}

.audio {
    visibility: hidden;
    height: 0;
    margin: 0;
}

.content a .selected {
    font-weight: 900;
    color: red;
}

.act {
    font-weight: 800;
}
.content .links .selected{
    color: #786ab0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    padding-right: 10px;
    padding-left: 10px;
}

.content .links .link{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 120%;
    padding-right: 10px;
    padding-left: 10px;
}

.fll {
    text-align: center;
    float: left;
    width: 450px;
    padding-left: 5%;
    padding-top: 10%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.igbox {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
}

.box {
    min-width: 200px;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
}

.box1 {
    min-width: 200px;
    padding-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 720px;
    box-sizing: border-box;
    text-align: center;
}
.he {
    display: table-cell;
}
.head1 p {
    width: 50%;
}
.sz {
    font-size: 80%;
}
.adobe {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 120%;
    color: white;
    padding-top: 150px;
}
.adobe p{
    text-align: center;
    color: white;
    padding: 0;
    margin: auto;
    padding-bottom: 20px;
}

.head2 p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 110%;
}
.btn{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    background-color: #786ab0;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
}

.tf{
    text-align: center;
    color: #786ab0;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    background-color: white;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
}

.pad {
    padding-bottom: 10px;
}

.box1 img {
    max-width: 50%;
    max-height: 60%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
.content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 800;
    color: white;
    margin: 5;
    line-height: 0%;
}  

    .igbox {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

div.photoset {
   padding: 2px;
   background-color: #ffffff;
   max-width: 600px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   .photo {
      position: relative;
      flex-grow: 1; //They will fill space but actually want to take up the smallest space possible doing it, so you just need to stop it getting too small with min-width (otherwise they all bunch on the same line)
      min-width: calc(100% / 3); //This is the maximum number (3) in a row bit
      background-size: cover;
      background-position: center;
      
      @media screen and (max-width: 700px) {
         min-width: calc(100% / 2); //As simple as this for responsiveness without a delay you would get with JavaScript
      }
      @media screen and (max-width: 460px) {
         min-width: 100%;
      }
      &:after {
         //Aspect Ratio
         padding-top: 83.33333%; //For 5:6 height to width ratio
         display: block;
         content: "";
      }
      &:before {
         //Gaps
         z-index: 2;
         position: absolute;
         content: "";
         top: 0px;
         right: 0px;
         bottom: 0px;
         left: 0px;
         box-shadow: inset 0 0 0 2px #ffffff; //Cheaty way to make it look like there are gaps 😜
      }
      &:nth-child(1) {
         //Make first image big
         width: 100%;
      }
   }

   &.square .photo:after {
      padding-top: 100%;
   }
   &.portrait .photo:after {
      padding-top: 120%;
   }
}

body {
   background-color: #ece9e2;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}
