@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

a {
    color: white;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.head1 {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(head1.jpg);
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;
}

.head2 {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(sec2.png);
    display: table;
    background-size: cover;
    background-position: center;
}

.head3 {
    min-width: 480px;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    background-image: url(head3.png);
    display: table;
    background-size: cover;
    background-position: bottom center;
}

.head3 .content{
    height: 10%;
}

.head4 {
    min-width: 480px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #020106;
    display: table;
    background-size: cover;
    background-position: bottom center;
}

.head2 .content {
    padding-top: 50px;
    padding-bottom: 25px;
}

.head1 .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    font-weight: 800;
    color: white;
    margin: 5;
    line-height: 0%;
}

.audio {
    visibility: hidden;
    height: 0;
    margin: 0;
}

.content a .selected {
    font-weight: 900;
    color: red;
}

.act {
    font-weight: 800;
}
.content .links .selected{
    color: #786ab0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    padding-right: 10px;
    padding-left: 10px;
}

.content .links .link{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 120%;
    padding-right: 10px;
    padding-left: 10px;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper1 {
    min-width: 480px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.igbox {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
}

.box {
    min-width: 200px;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
}

.box1 {
    min-width: 200px;
    padding-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 720px;
    box-sizing: border-box;
    text-align: center;
}
.he {
    display: table-cell;
}
.head1 p {
    width: 50%;
}
.sz {
    font-size: 80%;
}
.adobe {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 120%;
    color: white;
    padding-top: 150px;
}
.adobe p{
    text-align: center;
    color: white;
    padding: 0;
    margin: auto;
    padding-bottom: 20px;
}

.head2 p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 110%;
}
.btn{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    background-color: #786ab0;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
}

.tf{
    text-align: center;
    color: #786ab0;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    background-color: white;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
}

.pad {
    padding-bottom: 10px;
}

.box1 img {
    max-width: 50%;
    max-height: 60%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
.content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 800;
    color: white;
    margin: 5;
    line-height: 0%;
}  

    .igbox {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}
}
@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    .content .links .link{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 50pt;
    padding-right: 10px;
    padding-left: 10px;
}
    
}
@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #786ab0; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 3px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

selection {
    min-width: 480px;
}
